@tailwind base;
@tailwind components;
@tailwind utilities;



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
  }

  .git-link{
    color: #7070ff;
  }